* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100px;
}
.detail_top {
  width: 100%;
  height: 0.4rem;
  background-color: #FF8A00;
  font-size: 0.16rem;
}
.detail_top img:nth-child(1) {
  width: 1.2rem;
  height: 0.4rem;
  margin: 0px 0.25rem;
}
.detail_top img:nth-child(2) {
  width: 0.25rem;
  height: 0.3rem;
  margin-left: 0.5rem;
}
.detail_top img:nth-child(3) {
  width: 0.25rem;
  height: 0.3rem;
  margin-left: 0.1rem;
}
.detail_imgs {
  width: 100%;
  height: 3.7rem;
  font-size: 0.16rem;
  border-bottom: 0.01rem solid #ccc;
}
.detail_imgs img {
  width: 100%;
  height: 1.9rem;
}
.detail_imgs div {
  width: 2.8rem;
  margin: 0.15rem auto;
}
.detail_imgs div p:nth-child(1) {
  font-size: 0.18rem;
  font-weight: bold;
  margin: 0.1rem 0px;
}
.detail_imgs div p:nth-child(2) {
  margin-bottom: 0.1rem;
  font-size: 0.15rem;
}
.detail_imgs div p:nth-child(2) span {
  color: #DB4C3F;
  padding-right: 0.05rem;
}
.detail_imgs div p:nth-child(3) {
  color: #ccc;
  font-size: 0.13rem;
  margin-bottom: 0.1rem;
}
.detail_imgs div p:nth-child(4) {
  margin-bottom: 0.1rem;
}
.detail_imgs div p:nth-child(4) span {
  font-size: 0.13rem;
  display: inline-block;
  width: 0.45rem;
  height: 0.25rem;
  background-color: #DEE9F0;
  color: #94A2B3;
  text-align: center;
  line-height: 0.25rem;
  margin-right: 0.1rem;
}
.detail_imgs div p:nth-child(4) span:nth-child(3) {
  width: 0.6rem;
}
.detail_mes {
  font-size: 0.16rem;
  margin-top: 0.2rem;
  border-top: 0.01rem solid #ccc;
  border-bottom: 0.01rem solid #ccc;
}
.detail_mes p {
  font-size: 0.13rem;
  font-weight: bold;
  width: 2.8rem;
  margin: 0 auto;
  border-bottom: 0.01rem solid #ccc;
  padding: 0.14rem 0px;
}
.detail_mes p span:nth-child(1) {
  display: inline-block;
  width: 0.9rem;
  margin-right: 0.5rem;
}
.detail_mes p:last-child {
  width: 1rem;
  margin: 0 auto;
  color: #ccc;
  border-bottom: 0;
}
.detail_feature {
  margin-top: 0.2rem;
  border-top: 0.01rem solid #ccc;
  border-bottom: 0.01rem solid #ccc;
}
.detail_feature p {
  font-size: 0.12rem;
  width: 2.8rem;
  margin: 0 auto;
  padding: 0.05rem 0px;
}
.detail_feature p:nth-child(1) {
  color: #FF8A00;
  font-size: 0.17rem;
  border-bottom: 0.01rem solid #ccc;
  padding: 0.14rem 0px;
  margin-bottom: 0.1rem;
}
.detail_feature p:last-child {
  font-size: 0.14rem;
  width: 0.6rem;
  margin: 0 auto;
  color: #ccc;
  border-bottom: 0;
  padding: 0.14rem 0px;
}
.detail_part {
  margin-top: 0.2rem;
  border-top: 0.01rem solid #ccc;
  border-bottom: 0.01rem solid #ccc;
}
.detail_part p {
  font-size: 0.12rem;
  padding: 0.05rem 0px;
}
.detail_part .detail_p {
  width: 2.8rem;
  margin: 0 auto;
  color: #FF8A00;
  font-size: 0.17rem;
  border-bottom: 0.01rem solid #ccc;
  padding: 0.14rem 0px;
  margin-bottom: 0.1rem;
}
.detail_part .detail_img {
  width: 2.8rem;
  margin: 0 auto;
  border-bottom: 0.01rem solid #FF8A00;
  padding: 0.15rem 0px;
  margin-bottom: 0.1rem;
  overflow: hidden;
}
.detail_part .detail_img img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 0.1rem;
}
.detail_part .detail_img div p:nth-child(1) {
  font-size: 0.13rem;
  font-weight: bold;
}
.detail_part .detail_img div p:last-child span {
  font-size: 0.13rem;
  display: inline-block;
  width: 0.6rem;
  height: 0.25rem;
  background-color: #DEE9F0;
  color: #94A2B3;
  text-align: center;
  line-height: 0.25rem;
  margin-right: 0.1rem;
}
.detail_school {
  font-size: 0.16rem;
  margin-top: 0.2rem;
  border-top: 0.01rem solid #ccc;
  border-bottom: 0.01rem solid #ccc;
}
.detail_school p {
  font-size: 0.13rem;
  width: 2.8rem;
  margin: 0 auto;
  border-bottom: 0.01rem solid #ccc;
  padding: 0.14rem 0px;
}
.detail_school p span {
  color: #ccc;
}
.detail_school p:nth-child(1) {
  font-size: 0.16rem;
  font-weight: bold;
}
.detail_school p:last-child {
  width: 1rem;
  margin: 0 auto;
  color: #ccc;
  border-bottom: 0;
}
.detail_around {
  font-size: 0.16rem;
  margin-top: 0.2rem;
  border-top: 0.01rem solid #ccc;
  border-bottom: 0.01rem solid #ccc;
}
.detail_around p:nth-child(1) {
  font-size: 0.16rem;
  font-weight: bold;
  width: 2.8rem;
  margin: 0 auto;
  border-bottom: 0.01rem solid #ccc;
  padding: 0.14rem 0px;
}
.detail_around #map {
  width: 2.8rem;
  height: 1.5rem;
  margin: 0 auto;
  margin-bottom: 0.3rem;
}
.detail_recommend {
  font-size: 0.16rem;
  margin-top: 0.2rem;
  border-top: 0.01rem solid #ccc;
  border-bottom: 0.01rem solid #ccc;
}
.detail_recommend .recom {
  font-size: 0.16rem;
  font-weight: bold;
  width: 2.8rem;
  margin: 0 auto;
  border-bottom: 0.01rem solid #ccc;
  padding: 0.14rem 0px;
}
.detail_recommend .detail_img2 {
  width: 2.8rem;
  margin: 0 auto;
  padding: 0.15rem 0px;
  overflow: hidden;
}
.detail_recommend .detail_img2 img {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 0.1rem;
}
.detail_recommend .detail_img2 div p {
  font-size: 0.13rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.05rem;
}
.detail_recommend .detail_img2 div p:nth-child(1) {
  font-size: 0.17rem;
  font-weight: bold;
  margin-top: -0.1rem;
}
.detail_recommend .detail_img2 div p:last-child {
  width: 0.5rem;
  height: 0.25rem;
  background-color: #DEE9F0;
  color: #94A2B3;
  line-height: 0.25rem;
}
.detail_recommend .detail_img2 p:last-child {
  width: 3rem;
  height: 0.3rem;
  border: 1px solid #ccc;
  background-color: #ccc;
  padding-left: 0.05rem;
  margin-bottom: 0.1rem;
  line-height: 0.3rem;
}
