* {
  margin: 0;
  padding: 0;
}
.login_top {
  width: 100%;
  height: 190px;
  background: url(../image/my/bg1.png) no-repeat 0px 0px;
  text-align: right;
  position: relative;
}
.login_top span {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}
.login_top .my {
  background: url(../image/my/urse.png) no-repeat 15px 9px;
  background-size: 20px 20px;
}
.login_top .app {
  background: url(../image/my/down.png) no-repeat 13px 7px;
  background-size: 20px 20px;
}
.login_top .login {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 60px;
  left: 85px;
  text-align: center;
  line-height: 150px;
  background: url(../image/my/urse2.png) no-repeat 50px 0px;
  background-size: 50px 50px;
}
.login_top .login button {
  width: 60px;
  height: 30px;
  border: 1px solid #fff;
  color: white;
  font-weight: bolder;
  background: url(../image/my/bg1.png) no-repeat 0px 0px;
}
.login_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.login_text p {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 40px;
  border-bottom: 1px solid #ccc;
}
.login_text p:nth-child(1) {
  background: url(../image/my/icon1.png) no-repeat 10px 13px;
  background-size: 25px 25px;
}
.login_text p:nth-child(2) {
  background: url(../image/my/icon2.png) no-repeat 10px 13px;
  background-size: 25px 25px;
}
.login_text p:nth-child(3) {
  background: url(../image/my/icon3.png) no-repeat 10px 13px;
  background-size: 25px 25px;
}
.login_text p:nth-child(4) {
  background: url(../image/my/icon4.png) no-repeat 10px 13px;
  background-size: 25px 25px;
}
